*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:poppins,sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    position:fixed;
    width:100%;
    background:rgba(0,0,0,0.6);
    backdrop-filter:blur(10px);
}

.nav-links{
    display:flex;
    gap:20px;
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 10%;
    min-height:100vh;
}

.hero h1{
    font-size:50px;
}

.hero h2{
    color:#38bdf8;
}

.hero-img img{
    width:300px;
    border-radius:20px;
    box-shadow:0 0 20px #38bdf8;
}

/* BUTTONS */
.btn{
    padding:10px 20px;
    margin-right:10px;
    border-radius:20px;
    text-decoration:none;
}

.primary{
    background:#38bdf8;
    color:white;
}

.secondary{
    border:1px solid #38bdf8;
    color:#38bdf8;
}

/* SECTIONS */
section{
    padding:80px 10%;
}

.card{
    background:rgba(255,255,255,0.05);
    padding:20px;
    margin:10px 0;
    border-radius:15px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:10px;
}

.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}